<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Cantina da Tia</title>
</head>

<body>
    <div class="background" id="inicio">
        <header>
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Início</a>
                    <a href="{{ url_for('lanchenois') }}">Lanches</a>
                    <a href="{{ url_for('forms') }}">Opiniões</a>
                </li>
                </li>
            </ul>
        </header>
    </div> <!--background-->
    <section>
</div>

</body>
</html>